@charset "UTF-8";

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
html {
	overflow: auto;
	font-size: 62.5%;
	-webkit-text-size-adjust: none;
}
body {
	position: relative;
	font-family: "メイリオ", Meiryo, Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	color: #222;
	line-height: 1.2;
	word-break: break-all;
	-webkit-text-size-adjust: none;
}
a { color: #999; }
a:hover { color: #CCC; }
img { vertical-align: middle; }
ul { list-style-type: none; }
ol { margin-left: 20px; }
.cf:before,
.cf:after {
	content:"";
	display: table;
}
.cf:after { clear:both; }
.cf { *zoom:1; }/*IE7対策 （haslayout対策）*/
.disp-none { display: none; }
.page-top {
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 1;
}
address { font-style: normal; }

/* INLINE-MENU */
.line { font-size: 0; }
.line li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	font-size: 12px;
	font-size: 1.2rem;
}
.line li:first-child {
	margin-left: 0;
	border-left: none;
}
.line li a {
	display: block;
	line-height: 1.2;
	text-align: center;
}

/* ENTRY-PARTS */
.entry-parts {
	display: block;
	position: relative;
}
.entry-parts .figure {
	display: block;
	float: left;
	margin-right: 7px;
	vertical-align: top;
	text-align: center;
	background: #EEE;
}
.entry-parts .figure img { width: 80px; }
.entry-parts .caption {
	display: block;
	overflow: hidden;
}
.entry-parts-vertical .figure {
	width: 100%;
	text-align: center;
}
a:hover .figure img {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

/* ENTRY-PARTS-DATE */
.entry-parts-date-inline .date {
	float: left;
	width: 7em;
}
.entry-parts-date-inline .caption {
	margin-left: 7em;
	overflow: hidden;
}

/* COLUMN */
.column .col-item { float: left; }
.col-item { margin-bottom: 10px; }
.col2 .col-item {
	width: 50%;
	margin-right: 0;
}
.col3 .col-item {
	width: 310px;
	margin-right: 15px;
}
.col4 .col-item {
	width: 225px;
	margin-right: 20px;
}
.col5 .col-item {
	width: 180px;
	margin-right: 15px;
}
.col3 .entry-parts-vertical .figure img { width:310px; }
.col4 .entry-parts-vertical .figure img { width:225px; }
.col5 .entry-parts-vertical .figure img { width:180px; }
.ct-main .col2 .col-item {
	width: 347px;
	margin-right: 21px;
}
.ct-main .col3 .col-item {
	width: 225px;
	margin-right: 20px;
}
.ct-main .col4 .col-item {
	width: 172px;
	margin-right: 9px;
}
.ct-main .col5 .col-item {
	width: 135px;
	margin-right: 10px;
}
.ct-main .col3 .entry-parts-vertical .figure img { width:225px; }
.ct-main .col4 .entry-parts-vertical .figure img { width:172px; }
.ct-main .col5 .entry-parts-vertical .figure img { width:135px; }
.col2 .col-item:nth-child(2n) { margin-right: 0; }
.col3 .col-item:nth-child(3n) { margin-right: 0; }
.col4 .col-item:nth-child(4n) { margin-right: 0; }
.col5 .col-item:nth-child(5n) { margin-right: 0; }

/* MENU-CENTERING */
.centering ul {
	position: relative;
	left: 50%;
	float: left;
}
.centering li { left: -50%; }

/* CONTAINER */
.container {
	background: #FFF;
	min-height: 100%;
	position: relative;
}

/* HEADER */
.header { width: 100%; }
.hd-inner {
	background: #EEE;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

/* CONTENTS */
.contents {
	width: 100%;
	padding-bottom: 90px;
}
.ct-inner {
	background: #DDD;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
.ct-main {
	float: left;
	width: 740px;
	padding-right: 20px;
}
.ct-side {
	float: right;
	width: 200px;
}

/* FOOTER */
.footer {
	background: #EEE;
	position: absolute;
	bottom: 0;
	width: 100%;
	/*height: 50px;*/
}
.ft-inner {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

/* COPYRIGHT */
.copyright {
	display: block;
	text-align: center;
}

/* FORM */
.form-parts {
	margin-top: 10px;
}
.form-head {
	float: left;
	width: 15em;
}
.form-item {
	display: block;
	overflow: hidden;
}
.input-alert { color: red; }
.input-navi { display: block; }

/* SNS-MENU */
.menu-sns li { margin-left: 5px; }
.menu-sns li a { display: block; }
.menu-sns li img {
	width: 30px;
	height: 30px;
}

/*
==============================================================================
 SNS-SHARE ※LINEアイコンがずれる為、並びはinline-boxではなくfloatを使う
=============================================================================*/
.sns-share { width: 100%; }
.sns-share li {
	float: left;
	position: relative;
	margin-left: 10px;
}

/*
==============================================================================
 SNS-BUTTON 右側余白をとるために必要に応じて幅指定をする
=============================================================================*/
/*
.hatena-bookmark-button-frame { width: !important; }
#pocket-button-1 { width: !important; }
#I1_1442503201215 { width: ; }
*/

/*
===============================================================================
 TOP-VISUAL
=============================================================================*/
.top-visual { position: relative; }
#owl-demo .item img {
	display: block;
	width: 100%;
	height: auto;
}
#owl-demo .owl-controls {
	margin: 0;
	padding: 0;
}
.owl-controls .owl-nav .owl-prev,
.owl-controls .owl-nav .owl-next {
	position: absolute;
	top: 50%;
	width: 80px;
	height: 80px;
	margin-top: -40px;
	color: transparent;
	border-radius: 0;
	background-color: transparent;
}
.owl-controls .owl-nav .owl-prev {
	left: 30px;
	background: url(../img/owl_arrow-left.png) no-repeat left top;
}
.owl-controls .owl-nav .owl-next {
	right: 30px;
	background: url(../img/owl_arrow-right.png) no-repeat left top;
}
.owl-theme .owl-dots {
	position: absolute;
	right: 50px;
	bottom: -50px;
	padding: 10px 0;
	background: transparent;
	z-index: 10;
}
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
.owl-theme .owl-dots .owl-dot span {
	display: block;
	width: 8px;
	height: 8px;
	margin: 5px 7px;
	border-radius: 20px;
	background: #444;
	opacity: 0.5;
}
.owl-theme .owl-dots .owl-dot.active span { background: #000; }