@charset "UTF-8";

/* menu separation */
.separation {
  padding-left: 9px;
  border-left: 1px solid #ccc;
}
.separation:first-child {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}
.icon-date:before {
  background: url(../img/icon-date.png) no-repeat left center;
  background-size: 8px 9px;
  display: inline-block;
  content:"\0020";
  width: 8px;
  height: 9px;
  margin-right: 0.2em;
  position: relative;
  top: -0.1em;
}
.button {
  display: block;
  background-color: #eee;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #ddd;
  text-decoration: none;
}
.btn-icon-al-arrow {
  background: #eee url(../img/arrow.png) no-repeat 5px center;
  padding-left: 20px;
}
.button-text {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
}
.btn-icon-at-date:before {
  background: url(../img/icon-date.png) no-repeat left center;
  background-size: 8px 9px;
  display: inline-block;
  content:"\0020";
  width: 8px;
  height: 9px;
  margin-right: 0.2em;
  position: relative;
  top: -0.1em;
}
/* news */
.news {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.news-date {
  float: left;
  width: 7em;
}
.news-body {
  margin-left: 7em;
  overflow: hidden;
}
/* entry-box */
.entry-box {
  display: block;
  position: relative;
  margin-bottom: 10px;
}
.entry-box-left {
  display: block;
  float: left;
  margin-right: 7px;
  vertical-align: top;
  text-align: center;
  background: #eee;
}
.entry-box-right {
  display: block;
  overflow: hidden;
}
.entry-box-title {
  font-size: 1.4em;
}
.entry-box-body {
  margin-top: 10px;
}
.entry-box-top {
  display: block;
  background: #eee;
  text-align: center;
  margin-bottom: 10px;
}
.entry-box-figure {
  width: 100%;
}
.entry-box-figure:hover {
  opacity: 0.3;
  transition-duration: 1s;
}
.entry-box-bottom {
  width: 100%;
}
